.container_name {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 32%;
  border: 3px solid blue;
}
.paddingforModel {
  padding: 0 1.5rem;
}
.blueColor {
  background-color: #02208a;
  color: white;
}
.mb_1 {
  margin-bottom: 1rem;
}
.fields {
  display: flex;
  margin: 1rem 0;
}
.titleOfDiv {
  color: #626c88;
  font-weight: 600;
  font-size: 1.2rem;
}
.fields span {
  font-size: 1.2rem;
  margin-right: 1rem;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
.tableConatiner span {
  font-size: 1.9rem;
}
.buttonsGroupFlex {
  display: flex;
  gap: 1rem;
}
.twoNexts {
  font-size: 1.2rem;

  color: white;
  padding: 0 1rem 0.5rem 1rem;
  height: 2.5rem;
}
.saveAndClose { 
  background: green;
  color: white; 
}
.ant-modal {
  width: 70% !important;
}
.formsInput {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
.ant-modal-content {
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: #2c54e2 !important;
}
.ant-modal-close {
  display: none;
}
.conatiner_model {
  display: grid;
  grid-template-columns: 11rem 1fr;
  
}
.addElement{
  flex-basis: 18rem;
}
.addElement .anticon {
  font-size: 1.6rem;
  margin:0;
  color: white;
}
.addElement h1 {
  font-size: 1.6rem;
  margin:0;
  color: white;
  background-color: #12028a;
}

.playIcons{ 
  color: #12028a; 
}
.DeleteBtn{
  border-color: red;
  color: red;
}
.unstructuredbtn{
  border-color: #02208a;
  color: #02208a;
}
.PublishedBtn{
  border-color: #02208a;
  color: #02208a;
  margin-left: 1rem;
}
.actions_buttons{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.dummydataSourceModal_conatiner{
  background: white;
  min-height: 20rem;
}
.dummydataSourceModal{     
  width: 100%;
  display: flex; 
  flex-wrap: wrap;
  gap:.8rem;
}
.dummydataSourceModal_p{
  font-size: 1.6rem;
  margin: 0;
  word-wrap: break-word;
  word-break: break-all;
}
.href_a{
  font-size: 1.5rem;
}
.inputTags{
  width:5rem;
  height: 3rem;
  font-size: 1rem;
}